.DS_Store
Thumbs.db
*.psd
*.ai
/gitignore/
.sass-cache/
/node_modules/
/release.zip
/release/

## WordPress
www/wp_htdocs/wp4grandma/*.log
www/wp_htdocs/wp4grandma/xmlrpc.php
www/wp_htdocs/wp4grandma/wp-trackback.php
www/wp_htdocs/wp4grandma/wp-signup.php
www/wp_htdocs/wp4grandma/wp-settings.php
www/wp_htdocs/wp4grandma/wp-mail.php
www/wp_htdocs/wp4grandma/wp-login.php
www/wp_htdocs/wp4grandma/wp-load.php
www/wp_htdocs/wp4grandma/wp-links-opml.php
www/wp_htdocs/wp4grandma/wp-cron.php
www/wp_htdocs/wp4grandma/wp-admin/
www/wp_htdocs/wp4grandma/wp-config.php
www/wp_htdocs/wp4grandma/wp-content/advanced-cache.php
www/wp_htdocs/wp4grandma/wp-content/backup-db/
www/wp_htdocs/wp4grandma/wp-content/backups/
www/wp_htdocs/wp4grandma/wp-content/blogs.dir/
www/wp_htdocs/wp4grandma/wp-content/cache/
www/wp_htdocs/wp4grandma/wp-content/upgrade/
www/wp_htdocs/wp4grandma/wp-content/uploads/
www/wp_htdocs/wp4grandma/wp-content/wp-cache-config.php
www/wp_htdocs/wp4grandma/wp-content/plugins/
www/wp_htdocs/wp4grandma/wp-includes/
www/wp_htdocs/wp4grandma/wp-content/themes/twentyseventeen/
www/wp_htdocs/wp4grandma/wp-content/themes/index.php
www/wp_htdocs/wp4grandma/wp-content/languages/
www/wp_htdocs/wp4grandma/wp-content/db.php
www/wp_htdocs/wp4grandma/wp-content/index.php
www/wp_htdocs/wp4grandma/wp-config-sample.php
www/wp_htdocs/wp4grandma/wp-comments-post.php
www/wp_htdocs/wp4grandma/wp-blog-header.php
www/wp_htdocs/wp4grandma/wp-activate.php

www/wp_htdocs/.htaccess
www/wp_htdocs/wp4grandma/license.txt
www/wp_htdocs/wp4grandma/readme.html
www/wp_htdocs/wp4grandma/sitemap.xml
www/wp_htdocs/wp4grandma/sitemap.xml.gz
