$legacy-support-for-ie: false;

$site-width: 960px;

$font-family: "Sawarabi Mincho", Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", sans-serif;

$breakpoint-1: 480px;
$breakpoint-2: 768px;
